<a href="https://colab.research.google.com/github/Davyeeh/Trabalho-final-de-Engenharia-de-Sistemas-Inteligente/blob/main/projeto_final_ESI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importa√ß√£o do dataset

In [30]:
import pandas as pd

# L√™ o arquivo direto do GitHub
url = "https://raw.githubusercontent.com/Davyeeh/Trabalho-final-de-Engenharia-de-Sistemas-Inteligente/refs/heads/main/datset/SaoPaulo_OnlyAppartments_2024-11-25.csv"
df = pd.read_csv(url)

print("=== COLUNAS ===")
print(df.columns.tolist())

print("\n=== PRIMEIRAS LINHAS ===")
print(df.head())

print("\n=== √öLTIMAS LINHAS ===")
print(df.tail())

=== COLUNAS ===
['ID', 'created_date', 'Price', 'below_price', 'Area', 'Adress', 'Bedrooms', 'Bathrooms', 'Parking_Spaces', 'extract_date', 'Latitude', 'Longitude']

=== PRIMEIRAS LINHAS ===
           ID          created_date    Price  below_price  Area  \
0  2621660830  2021-02-08T20:20:19Z   539000        False    43
1  2751807421  2018-03-27T15:40:41Z  1649980        False    45
2  2735056019  2020-07-22T21:05:19Z  1149000        False    57
3  2758506978  2024-11-12T13:41:55Z   255000        False    55
4  2556833428  2021-10-29T00:18:35Z   232800        False    35

                                              Adress  Bedrooms  Bathrooms  \
0  Rua Coronel Lu√≠s Barroso 582, Santo Amaro - S√£...         1          1
1  Rua Diogo J√°come 955, Vila Nova Concei√ß√£o - S√£...         1          1
2      Rua Fern√£o Dias 323, Pinheiros - S√£o Paulo/SP         1          1
3   Avenida Paes de Barros 411, Mooca - S√£o Paulo/SP         1          1
4  Rua Professor Artur Primavesi 154, Parque Bris...         1          1

   Parking_Spaces extract_date   Latitude  Longitude
0               1   2024-11-25 -23.647002 -46.704905
1               1   2024-11-25        NaN        NaN
2               1   2024-11-25 -23.564136 -46.695173
3               1   2024-11-25 -23.559150 -46.599869
4               1   2024-11-25        NaN        NaN

=== √öLTIMAS LINHAS ===
               ID          created_date    Price  below_price  Area  \
24463  2751419295  2018-03-27T20:10:35Z  1000000        False   132
24464  2755272200  2019-02-12T16:32:26Z  1195000        False    92
24465  2694938778  2024-02-27T17:29:22Z  1970000        False   241
24466  2609522196  2018-03-27T16:17:11Z  1600000        False   100
24467  2702195937  2018-03-27T15:18:52Z   780000        False    72

                                                  Adress  Bedrooms  Bathrooms  \
24463  Rua Am√©rico Alves Pereira Filho 360, Vila Moru...         2          3
24464  Rua Martinho de Campos 41, Vila Anast√°cio - S√£...         2          3
24465                     Jardim Paulista - S√£o Paulo/SP         2          3
24466                         Vila Romana - S√£o Paulo/SP         2          3
24467  Rua Francisco de Vit√≥ria 1, Jardim Vila Marian...         2          3

       Parking_Spaces extract_date   Latitude  Longitude
24463               2   2024-11-25        NaN        NaN
24464               2   2024-11-25 -23.515852 -46.720745
24465               2   2024-11-25 -23.573745 -48.024426
24466               2   2024-11-25 -21.238320 -47.779675
24467               2   2024-11-25        NaN        NaN

# üßπTratamento dos dados

## Valores nulos

In [31]:
print("=== Linhas com valores ausentes ===")
rows_with_nan = df[df.isnull().any(axis=1)]

if not rows_with_nan.empty:
    print(rows_with_nan)
else:
    print("Nenhuma linha com valores ausentes encontrada.")

=== Linhas com valores ausentes ===
               ID          created_date    Price  below_price  Area  \
1      2751807421  2018-03-27T15:40:41Z  1649980        False    45
4      2556833428  2021-10-29T00:18:35Z   232800        False    35
5      2757605322  2021-02-08T20:20:19Z   630000        False    35
13     2720202635  2018-03-27T16:57:44Z   389000        False    58
17     2622651962  2022-07-20T13:25:42Z   340000        False    45
...           ...                   ...      ...          ...   ...
24455  2653301727  2018-03-28T12:23:47Z  1900000        False   160
24460  2721518746  2018-03-27T14:30:27Z  1150000        False   105
24461  2758735720  2018-03-30T01:27:40Z  1099970        False    88
24463  2751419295  2018-03-27T20:10:35Z  1000000        False   132
24467  2702195937  2018-03-27T15:18:52Z   780000        False    72

                                                  Adress  Bedrooms  Bathrooms  \
1      Rua Diogo J√°come 955, Vila Nova Concei√ß√£o - S√£...         1          1
4      Rua Professor Artur Primavesi 154, Parque Bris...         1          1
5      Rua Guararapes 305, Brooklin Paulista - S√£o Pa...         1          1
13     Rua Itaiteva 125, Jardim Amplia√ß√£o - S√£o Paulo/SP         1          1
17     Rua das Perobas , Vila Parque Jabaquara - S√£o ...         1          1
...                                                  ...       ...        ...
24455  Rua Jaboticabal 456, Vila Bertioga - S√£o Paulo/SP         2          3
24460                      Cidade Mon√ß√µes - S√£o Paulo/SP         2          3
24461  Avenida Doutor Altino Arantes 878, Vila Clemen...         2          3
24463  Rua Am√©rico Alves Pereira Filho 360, Vila Moru...         2          3
24467  Rua Francisco de Vit√≥ria 1, Jardim Vila Marian...         2          3

       Parking_Spaces extract_date  Latitude  Longitude
1                   1   2024-11-25       NaN        NaN
4                   1   2024-11-25       NaN        NaN
5                   1   2024-11-25       NaN        NaN
13                  2   2024-11-25       NaN        NaN
17                  2   2024-11-25       NaN        NaN
...               ...          ...       ...        ...
24455               2   2024-11-25       NaN        NaN
24460               2   2024-11-25       NaN        NaN
24461               2   2024-11-25       NaN        NaN
24463               2   2024-11-25       NaN        NaN
24467               2   2024-11-25       NaN        NaN

[7944 rows x 12 columns]

In [32]:
print(f"Total de linhas antes: {len(df)}")
# Remover linhas onde Latitude OU Longitude est√£o vazias
df = df.dropna(subset=['Latitude', 'Longitude'])

print(f"Total de linhas depois de limpar localiza√ß√£o: {len(df)}")

Total de linhas antes: 24468
Total de linhas depois de limpar localiza√ß√£o: 16524

## Ajustando o pre√ßo dos im√≥veis

### Alguns im√≥veis apresentam valores iguais a 0, ent√£o escolhemos fazer a m√©dia para substuir esse valores ao inv√©s de apenas removelos. Utilizamos o IQR para ignorar outliers e ter uma m√©dia mais real

In [33]:
# Calcular a m√©dia do pre√ßo (usando apenas pre√ßos maiores que zero)
media_preco = df.loc[df['Price'] > 0, 'Price'].mean()

# Substituir os pre√ßos que s√£o zero pela m√©dia calculada
precos_validos = df.loc[df['Price'] > 0, 'Price']

# Calcula limites para filtrar os milion√°rios
Q1 = precos_validos.quantile(0.25)
Q3 = precos_validos.quantile(0.75)
IQR = Q3 - Q1
limite_superior = Q3 + 1.5 * IQR

# Calcula a m√©dia apenas com os pre√ßos "normais"
media_justa = precos_validos[precos_validos <= limite_superior].mean()

print(f"M√©dia Antiga: R$ {precos_validos.mean():,.2f}")
print(f"M√©dia Ajustada (Sem Outliers): R$ {media_justa:,.2f}")

# Substitui os zeros por essa m√©dia mais realista
df.loc[df['Price'] == 0, 'Price'] = media_justa

M√©dia Antiga: R$ 2,115,198.88
M√©dia Ajustada (Sem Outliers): R$ 1,602,317.30

/tmp/ipython-input-2238755218.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1602317.3015935991' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['Price'] == 0, 'Price'] = media_justa

## Remo√ß√£o de linhas duplicadas

In [34]:
# Remo√ß√£o de duplicatas
print(f"Linhas antes de remover duplicatas: {len(df)}")
df = df.drop_duplicates()
print(f"Linhas ap√≥s remover duplicatas: {len(df)}")

Linhas antes de remover duplicatas: 16524
Linhas ap√≥s remover duplicatas: 15722

## Ajuste no endere√ßo

In [35]:
# Fun√ß√£o que quebra o endere√ßo em 3 partes
def separar_endereco(texto):
    # Separa a Cidade/Estado (tudo depois do " - ")
    try:
        parte1, cidade = texto.split(" - ", 1)
    except ValueError:
        parte1 = texto
        cidade = "S√£o Paulo/SP" # Padr√£o caso falte

    # Separa Rua e Bairro (tudo depois da √∫ltima v√≠rgula √© o bairro)
    if "," in parte1:
        # rsplit faz a quebra da direita para a esquerda (pega a √∫ltima v√≠rgula)
        rua, bairro = parte1.rsplit(",", 1)
    else:
        # Se n√£o tem v√≠rgula, assumimos que s√≥ tem o bairro informado
        rua = "N√£o Informado"
        bairro = parte1

    return pd.Series([rua.strip(), bairro.strip(), cidade.strip()])

# Aplica a fun√ß√£o e cria as 3 novas colunas
df[['Rua', 'Bairro', 'Cidade']] = df['Adress'].apply(separar_endereco)

# Remove a coluna Adress pois n√£o faz mais sentido deixa-la e a coluna Cidade, j√°
# que todos os im√≥veis sao de S√£o Paulo/SP, a vari√¢ncia √© 0
df = df.drop(columns=['Adress', 'Cidade'])

print(df[['Rua', 'Bairro',]].head())

                              Rua        Bairro
0    Rua Coronel Lu√≠s Barroso 582   Santo Amaro
2             Rua Fern√£o Dias 323     Pinheiros
3      Avenida Paes de Barros 411         Mooca
6       Rua Ant√¥nio Pais de Sande  Vila Mirante
7  Rua Doutor Jesu√≠no Maciel 2105    Campo Belo

## Ajustando dados da data

In [36]:
df.head()

,ID,created_date,Price,below_price,Area,Bedrooms,Bathrooms,Parking_Spaces,extract_date,Latitude,Longitude,Rua,Bairro
0,2621660830,2021-02-08T20:20:19Z,539000.0,False,43,1,1,1,2024-11-25,-23.647002,-46.704905,Rua Coronel Lu√≠s Barroso 582,Santo Amaro
2,2735056019,2020-07-22T21:05:19Z,1149000.0,False,57,1,1,1,2024-11-25,-23.564136,-46.695173,Rua Fern√£o Dias 323,Pinheiros
3,2758506978,2024-11-12T13:41:55Z,255000.0,False,55,1,1,1,2024-11-25,-23.559150,-46.599869,Avenida Paes de Barros 411,Mooca
6,2753001806,2018-03-27T19:51:51Z,210000.0,False,42,1,1,1,2024-11-25,-23.470334,-46.723179,Rua Ant√¥nio Pais de Sande,Vila Mirante
7,2625825198,2018-03-30T02:50:40Z,640000.0,False,47,1,1,1,2024-11-25,-23.626811,-46.663730,Rua Doutor Jesu√≠no Maciel 2105,Campo Belo

In [37]:
df['created_date'] = df['created_date'].str.split('T').str[0]

## Remo√ß√£o de outras colunas 'in√∫teis'

In [38]:
colunas_remover = ['ID', 'below_price']
df = df.drop(columns=colunas_remover, errors='ignore')

In [39]:
# Salvar o arquivo limpo
df.to_csv("imoveis_tratados.csv", index=False)
print(df)
print("Arquivo 'imoveis_tratados.csv' salvo com sucesso!")

      created_date      Price  Area  Bedrooms  Bathrooms  Parking_Spaces  \
0       2021-02-08   539000.0    43         1          1               1
2       2020-07-22  1149000.0    57         1          1               1
3       2024-11-12   255000.0    55         1          1               1
6       2018-03-27   210000.0    42         1          1               1
7       2018-03-30   640000.0    47         1          1               1
...            ...        ...   ...       ...        ...             ...
24459   2024-11-05  1070000.0    92         2          3               2
24462   2018-03-27  2120000.0    95         2          3               2
24464   2019-02-12  1195000.0    92         2          3               2
24465   2024-02-27  1970000.0   241         2          3               2
24466   2018-03-27  1600000.0   100         2          3               2

      extract_date   Latitude  Longitude                              Rua  \
0       2024-11-25 -23.647002 -46.704905     Rua Coronel Lu√≠s Barroso 582
2       2024-11-25 -23.564136 -46.695173              Rua Fern√£o Dias 323
3       2024-11-25 -23.559150 -46.599869       Avenida Paes de Barros 411
6       2024-11-25 -23.470334 -46.723179        Rua Ant√¥nio Pais de Sande
7       2024-11-25 -23.626811 -46.663730   Rua Doutor Jesu√≠no Maciel 2105
...            ...        ...        ...                              ...
24459   2024-11-25 -22.223110 -51.314733                    N√£o Informado
24462   2024-11-25 -23.563501 -46.689880  Rua Deputado Lacerda Franco 144
24464   2024-11-25 -23.515852 -46.720745        Rua Martinho de Campos 41
24465   2024-11-25 -23.573745 -48.024426                    N√£o Informado
24466   2024-11-25 -21.238320 -47.779675                    N√£o Informado

                   Bairro
0             Santo Amaro
2               Pinheiros
3                   Mooca
6            Vila Mirante
7              Campo Belo
...                   ...
24459  Vila Regente Feij√≥
24462           Pinheiros
24464      Vila Anast√°cio
24465     Jardim Paulista
24466         Vila Romana

[15722 rows x 11 columns]
Arquivo 'imoveis_tratados.csv' salvo com sucesso!